<!doctype html>
html(lang="en")
  head
    title 📦 Parcel v2-beta playground
    link(rel="stylesheet" href="./styles.sass")
  body
    h1.title This is a Parcel v2-beta example page
    p.message Welcome!